<!DOCTYPE html>
<html>


<head>
<title>Authentication</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
</head>


<body>

<header>
  <nav>
    <% if current_user %>
      <p>
        Logged in as <%= current_user.email %>
        |
        <%= link_to "Logout", sign_out_path, method: :delete %>
      </p>
    <% else %>
      <p>
        <%= link_to "Sign Up", new_registration_path %>
        |
        <%= link_to "Log In", new_session_path %>
      </p>
    <% end %>
  </nav>

  <% flash.each do |name, msg| %>
    <%= tag.div msg, id: name %>
  <% end %>
</header>

<main>
<%= yield %>
</main>

<footer>
</footer>

</body>


</html>
